absl-py==2.1.0
accelerate==1.2.1
addict==2.4.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
aiosqlite==0.21.0
albucore==0.0.21
albumentations==1.4.23
alembic==1.14.0
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
altair==5.4.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==4.8.0
asana==5.0.0
async-timeout==5.0.1
asyncio==3.4.3
attrs==25.3.0
audioread==3.0.1
Authlib==1.4.0
autopep8==2.0.2
autotrain-advanced==0.8.36
av==14.0.0
babel==2.16.0
backoff==2.2.1
banal==1.0.6
banks==2.1.3
bcrypt==4.2.0
beautifulsoup4==4.12.2
bitarray==2.9.2
bitsandbytes==0.45.4
blinker==1.8.2
Brotli==1.1.0
build==1.2.2.post1
cachetools==5.5.0
cairocffi==1.7.1
CairoSVG==2.8.2
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
chromadb==1.0.15
click==8.1.7
cloudscraper==1.2.71
cn2an==0.5.22
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
contourpy==1.2.1
coqpit==0.0.17
crcmod==1.7
cryptography==44.0.0
cssselect2==0.8.0
ctranslate2==4.5.0
curl_cffi==0.7.1
customtkinter==5.1.2
cut-cross-entropy==25.1.1
cycler==0.12.1
Cython==0.29.28
darkdetect==0.8.0
dataclasses-json==0.6.7
dataset==1.6.2
datasets==3.2.0
dateparser==1.1.8
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.18
diffusers==0.32.2
dill==0.3.8
dirtyjson==1.0.8
discord==2.3.2
discord-ext-voice_recv @ git+https://github.com/imayhaveborkedit/discord-ext-voice-recv@ac04ea7b0941112e83767cf1c1469b408fa06748
discord-protos==0.0.2
discord.py @ git+https://github.com/Rapptz/discord.py@13432591c6a7b095cb8daec687667c69a3469d95
discord.py-self==2.0.1
Distance==0.1.3
distlib==0.3.9
distro==1.9.0
docopt==0.6.2
docstring_parser==0.16
durationpy==0.10
editdistance==0.8.1
einops==0.8.0
emoji==2.14.1
eval_type_backport==0.2.2
evaluate==0.4.3
exceptiongroup==1.2.2
fairseq==0.12.2
faiss-cpu==1.9.0.post1
fake-useragent==2.2.0
fastapi==0.115.6
faster-whisper==1.2.0
ffmpeg==1.4
ffmpeg-python==0.2.0
ffmpy==0.4.0
filelock==3.16.1
filetype==1.2.0
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.54.1
frozenlist==1.7.0
fsspec==2024.12.0
funasr==1.0.27
future==0.18.3
g2p-en==2.1.0
g2pk2==0.0.3
gast==0.6.0
gguf==0.16.2
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.15
google-api-core==2.25.0
google-api-python-client==2.171.0
google-auth==2.40.2
google-auth-httplib2==0.2.0
google-genai==1.18.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
GPT_SoVITS @ git+https://github.com/JarodMica/GPT-SoVITS-Package.git@60ddc7a4a43e2d677e82e484b18adac2d47dfc17
gradio==4.24.0
gradio_client==0.14.0
greenlet==3.1.1
griffe==1.7.3
grpcio==1.72.1
grpcio-status==1.71.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-cs==2.0.1
gruut-lang-it==2.0.1
gruut-lang-nl==2.0.2
gruut-lang-pt==2.0.1
gruut-lang-ru==2.0.1
gruut-lang-sv==2.0.1
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
h11==0.14.0
h2==4.1.0
hdbscan==0.8.40
hf_transfer==0.1.9
hpack==4.0.0
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.2
huggingface-hub==0.27.1
humanfriendly==10.0
hydra-core==1.3.2
hyperframe==6.0.1
idna==3.10
imageio==2.37.0
importlib_metadata==8.6.1
importlib_resources==6.4.5
inflate64==1.0.1
inflect==7.4.0
ipadic==1.0.0
iso8601==1.1.0
itsdangerous==2.2.0
jaconv==0.4.0
jamo==0.4.1
jieba==0.42.1
jieba_fast==0.53
Jinja2==3.1.5
jiter==0.10.0
jiwer==3.0.5
jmespath==0.10.0
joblib==1.4.2
jsonlines==1.2.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kaldiio==2.18.0
keyboard==0.13.5
kiwisolver==1.4.7
ko-pron==1.3
kubernetes==33.1.0
langchain==0.2.6
langchain-community==0.2.6
langchain-core==0.2.10
langchain-huggingface==0.0.3
langchain-ollama==0.2.0
langchain-text-splitters==0.2.2
LangSegment==0.3.5
langsmith==0.1.143
lazy_loader==0.4
librosa==0.9.2
lightning-utilities==0.11.9
linkify-it-py==2.0.3
llama-cloud==0.1.30
llama-cloud-services==0.6.41
llama-index==0.9.48
llama-index-agent-openai==0.4.12
llama-index-cli==0.4.3
llama-index-core==0.12.46
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.7.8
llama-index-instrumentation==0.2.0
llama-index-llms-ollama==0.6.2
llama-index-llms-openai==0.4.7
llama-index-multi-modal-llms-openai==0.5.1
llama-index-program-openai==0.3.2
llama-index-question-gen-openai==0.3.1
llama-index-readers-file==0.4.9
llama-index-readers-llama-parse==0.4.0
llama-index-workflows==1.0.1
llama-parse==0.6.41
llvmlite==0.43.0
loguru==0.7.3
lxml==5.3.0
Mako==1.3.6
Markdown==3.7
markdown-it-py==2.2.0
MarkupSafe==3.0.2
marshmallow==3.23.1
matplotlib==3.8.4
mdit-py-plugins==0.3.3
mdurl==0.1.2
mecab-python3==1.0.5
mmh3==5.1.0
modelscope==1.10.0
more-itertools==9.1.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.6.4
multiprocess==0.70.16
multivolumefile==0.2.3
mypy-extensions==1.0.0
narwhals==1.13.5
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
num2words==0.5.13
numba==0.60.0
numexpr==2.8.7
numpy==2.2.1
nvidia-ml-py==12.535.161
nvitop==1.3.2
oauthlib==3.3.1
ollama==0.4.5
omegaconf==2.3.0
onnx==1.17.0
onnx2pytorch==0.5.1
onnxruntime==1.19.2
onnxruntime-gpu==1.19.2
onnxsim==0.4.36
openai==1.93.0
openai-whisper @ https://github.com/openai/whisper/archive/refs/tags/v20230314.tar.gz
OpenCC==1.1.9
opencv-python-headless==4.11.0.86
opentelemetry-api==1.35.0
opentelemetry-exporter-otlp-proto-common==1.35.0
opentelemetry-exporter-otlp-proto-grpc==1.35.0
opentelemetry-proto==1.35.0
opentelemetry-sdk==1.35.0
opentelemetry-semantic-conventions==0.56b0
optuna==4.1.0
orjson==3.10.7
oss2==2.19.1
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
paramiko==3.5.0
peft==0.14.0
pillow==11.1.0
pipenv==2024.1.0
platformdirs==4.3.8
playwright==1.53.0
pooch==1.8.2
portalocker==2.10.1
posthog==5.4.0
praat-parselmouth==0.4.4
proces==0.1.7
propcache==0.3.2
proto-plus==1.26.1
protobuf==5.29.5
psutil==6.0.0
py3langid==0.2.2
py7zr==0.22.0
pyarrow==18.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.13
pybase64==1.4.1
pybcj==1.0.3
PyCharacterAI @ git+https://github.com/Xtr4F/PyCharacterAI@bdc3ed514ebe69567827cef46541d0689ee22583
pycocotools==2.0.8
pycodestyle==2.10.0
pycparser==2.22
pycryptodome==3.21.0
pycryptodomex==3.21.0
pydantic==2.10.5
pydantic_core==2.27.2
pydeck==0.9.1
pydub==0.25.1
pyee==13.0.0
pygame==2.6.1
Pygments==2.18.0
pyjyutping==1.0.0
PyMatting==1.1.14
PyNaCl==1.5.0
pyngrok==7.2.1
pynndescent==0.5.13
pyopenjtalk==0.3.4
pyparsing==3.1.4
pypdf==5.7.0
pyperclip==1.9.0
PyPika==0.48.9
pypinyin==0.53.0
pyppmd==1.1.1
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PyQt6==6.8.1
PyQt6-Qt6==6.8.2
PyQt6_sip==13.10.0
pyreadline3==3.5.4
pysbd==0.3.4
PySocks==1.7.1
PySoundFile==0.9.0.post1
pytchat==0.5.5
python-crfsuite==0.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
pytils==0.4.1
pytorch-lightning==2.4.0
pytorch-wpe==0.0.1
pytz==2024.2
pywin32==307
pyworld==0.2.10
PyYAML==6.0.2
pyzstd==0.16.2
qasync==0.27.1
RapidFuzz==3.12.1
referencing==0.35.1
regex==2024.11.6
rembg==2.0.67
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
resampy==0.4.3
rfc3986==1.5.0
rich==13.9.4
romajitable==0.0.1
rotary-embedding-torch==0.8.6
rouge_score==0.1.2
rpds-py==0.21.0
rsa==4.9.1
ruff==0.8.4
sacrebleu==2.4.3
sacremoses==0.1.1
safetensors==0.5.2
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.1
selenium==4.33.0
selenium-stealth==1.0.6
semantic-version==2.10.0
sentence-transformers==3.3.1
sentencepiece==0.2.0
seqeval==1.2.2
shellingham==1.5.4
shtab==1.7.1
simplejson==3.19.3
simsimd==6.2.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.7
soxr==0.5.0.post1
SpeechRecognition==3.13.0
SQLAlchemy==1.4.54
starlette==0.41.3
streamlit==1.36.0
stringzilla==3.11.3
striprtf==0.0.26
sympy==1.13.1
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.5.0
texttable==1.7.0
tf2onnx==1.16.1
threadpoolctl==3.5.0
tifffile==2025.5.10
tiktoken==0.8.0
timm==1.0.12
tinycss2==1.4.0
tokenizers==0.21.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
tools==0.1.9
torch-complex==0.4.4
torchcrepe==0.0.22
torchmetrics==1.6.0
tornado==6.4.1
tqdm==4.67.1
trainer==0.0.36
transformers==4.48.0
trio==0.30.0
trio-websocket==0.12.2
triton-windows==3.2.0.post17
trl==0.13.0
ttkthemes==3.2.2
TTS==0.7.1
twitchio==2.6.0
typeguard==4.2.0
typer==0.15.1
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tyro==0.9.18
tzdata==2024.2
tzlocal==5.2
uc-micro-py==1.0.3
umap==0.1.1
umap-learn==0.5.1
undetected-chromedriver==3.5.5
unicorn==2.1.1
unidic-lite==1.0.8
unsloth==2025.3.19
unsloth_zoo==2025.3.17
uritemplate==4.2.0
urllib3==2.3.0
utils==1.0.2
uvicorn==0.34.0
virtualenv==20.27.0
watchdog==4.0.2
watchfiles==1.1.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
whisper==1.1.10
win32_setctime==1.2.0
windows-curses==2.4.1
wordsegment==1.3.1
wrapt==1.17.2
wsproto==1.2.0
xformers==0.0.29.post3
xgboost==2.1.3
xxhash==3.5.0
yapf==0.43.0
yarl==1.20.1
zipp==3.21.0
